/*
-----------
Reset
-----------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
------------
Debug
------------
*/

.debug .top-header {
    background-color: rgb(155, 211, 225);
}

.debug .low-header {
    min-height: 500px;
    background-color: rgb(0, 16, 123);
}

.debug .header-image {
    min-height: 400px;
}

.debug .row-section {
    background-color: rgb(255, 255, 255);
}

.debug .col-big {
    background-color: rgb(0, 135, 248);
    min-height: 450px;

}

.debug .col-small {
    background-color: rgb(255, 185, 196);
    min-height: 450px;
}

.debug .square {
    min-height: 800px;
}

.debug .footer-col-big {
    min-height: 450px;
    background-color: rgb(250, 118, 118);
}

.debug .footer-col-small {
    min-height: 450px;
    background-color: rgb(0, 168, 160);
}

/*
-----------
Common
-----------
*/

.dashed {
    border-style: dashed;
}

/*
------------
Header
------------
*/

.top-header {
    display: flex;
    padding: 15px 0;
}

.header-content {
    margin: 0 auto;
    background-color: rgb(221, 154, 50);
    display: flex;
    width: 60%;
}

#logo {
    width: 20%;
    align-self: center;
    padding: 5px;
}

#login {
    width: 20%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

#links {
    display: flex;
    width: 60%;
    align-self: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    flex-wrap: wrap;
}

.low-header {
    display: flex;
    align-items: center;
}

.header-image {
    margin: 0 auto;
    width: 40%;
    border-radius: 10px;
    background-color: rgb(246, 123, 230);
}

/*
-----------
Main
-----------
*/

/* main .row-section:nth-child(even) {
    background-color: lightgray;
} */

.row-section {
    padding: 50px 0px;
}

.row {
    margin: 0 auto;
    display: flex;
    width: 60%;
}

.col-big {
    width: calc(60% + 50px);
}

.col-small {
    width: calc(40% + 50px);
}

.reversed {
    order: -1
}

.square {
    background-color: green;
    width: 100%;
}

/*
-----------
Footer
-----------
*/

footer {
    background-color: rgb(31, 35, 37);
    display: flex;
    flex-direction: column;
}

.footer-top {
    margin-top: 12px;
    width: 100%;
}

.footer-low {
    margin-top: 12px;
    width: 100%;
}

.footer-col-small {
    width: calc(15% + 50px);
    color: white;
}

.footer-col-big {
    width: calc(30% + 50px);
}

.line {
    height: 3px;
    background-color: white;
    border-radius: 1px;
    width: 99%;
}

.footer-top > .line {
    margin: 30px auto;
}

.footer-low-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(82, 253, 209);
    height: 80px;
}

div.footer-low-content > div {
    background-color: pink;
    padding: 10px;
}